@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: initial !important
}

.modal-content {
  position: relative;
  background: rgb(255, 255, 255);
  margin: auto;
  padding: 10px;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 15px;
  overflow-y: auto;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.id-cliente {
  font-size: smaller;
  font-weight: 400;
  color: rgb(145, 145, 145);
}

.close{
  color: rgb(46, 102, 255);
  float: right;
  margin-right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.modal-body {
  padding: 5px 16px;
  height: auto;
}

.logo {
  margin: 0px 30px;
  float: left;
  max-height: 80px;
}

button {
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  color: #FFF;
  background-color: rgb(46, 102, 255);
  border: 0px;
  max-width: 200px;
}

.switch input {
  position: absolute;
  opacity: 0;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 20px;
  margin: auto;
  text-align: center;
}

.switch {
  display: inline-block;
  font-size: 20px;
  height: .85em;
  width: 1.5em;
  background: #BDB9A6;
  border-radius: 0.85em;
}

.switch div {
  height: .85em;
  width: .85em;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
          transition: all 300ms;
}

.switch input:checked + div {
  background: rgb(107, 159, 255);
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

/* Cadena JSON */

.json{
  display: inline;
  font-size: medium;
  background: rgb(230, 230, 230);
}

.clave{
  font-weight: 700;
  display: inline;
}

/* Formulario */
.form-standard {
  margin-right: 20px;
  float: right;
}
input[type=text], input[type=password]{
  padding: 10px 10px 7px;
  margin: 8px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  width: 100%;
}
input[type=text]:focus {
  border: 2px solid rgb(64, 125, 255);
}
.label{
    margin-bottom:0px;
    position:relative;
}

.campoHint{
    position:absolute;
    top:0;
    left:14px;
    background-color: #fff;
    transform:translateY(2px);
    font-size:0.825em;
    transition-duration:300ms;
}

.label:focus-within > .campoHint,
input:not(:placeholder-shown) + .campoHint{
    transform:translateY(-15px) scale(0.8);
    padding: 0 4px;
    color: gray;
}

.portada {
    display: inline;
}
.img-portada{
    width: 40%;
}

/* Responsive */

@media only screen and (max-width: 500px) {
    .modal-content {
      width: 95%;
    }
    
    h1, h2{
        display: none;
    }
    .img-portada{
      min-width: 100px;
      min-height: 100px;
      position: relative;
      left: 30%;
      right: 30%;
      top: 10%;
    }
    .form-standard{
      top: 0px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
  }